#contact {
  padding-top: 30px;
  background: url("../../assets/images/contact.jpg") center 0 no-repeat fixed;
  background-size: cover;
  .wpcf7 {
    text-align: center;
    .wpcf7-file {
      margin: auto;
    }
  }
}