#prestations {
  padding-bottom: 0;
  .prestation {
    padding-left: 0;
    padding-right: 0;
    height: 350px;
    text-align: center;
    background-size: cover;
    background-position: center;
    .prestatext {
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      color: white;
      opacity: 0;
      -webkit-transition: opacity 500ms linear;
      -moz-transition: opacity 500ms linear;
      -o-transition: opacity 500ms linear;
      transition: opacity 500ms linear;
      h3 {
        margin-top: 0;
        padding-top: 50px;
      }
      p {
         padding-top: 20px;
         padding-left: 30px;
         padding-right: 30px;
      }
    }
    &:hover .prestatext {
       opacity: 1;
    }
  }

}